@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);

body {
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 0;
  color: #262626;
  text-rendering: optimizeLegibility
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 14px;
}

.title {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
}

.description {
  margin-left: 10px;
}

.insight {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  background: #45A8F1;
  color: white;
  padding: 15px 0px;
}

.tooltip {
  height: 80px;
  color: #FFFFFF;
  background-color: #65D868;
  position: absolute;
  right: 0;
  text-align: right;
  opacity: 0.9;
}

.green {
  color: #86F289;
  font-weight: 400;
}

.blue {
  color: #0298F5;
}

.italic {
  font-style: italic;
  font-weight: 400;
}
