@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica",Arial,sans-serif;
}

a {
  text-decoration:none;
}

.green {
  color: #00e676;
}
.red {
  color: #e91e63;
}
.blue {
  color: #03a9f4;
}