<md-dialog aria-label="FAQ">
  <md-content layout="vertical" layout-align="center center">
    <img src="images/logo-black.png" style="width: 100px; height: 100px;"></img>
    <h2>What is this?</h2>
    <p>As a student of Hack Reactor, I was always impressed when I looked around and saw the sea of colorful editors around me. This site is an attempt to visualize some of these stats and gain some insight on what goes down at 944 Market.</p>
    <h2>How?</h2>
    <p>The GitHub API allows you to pull 'statistics' from their profile</p>
    <h2>Why?</h2>
    <p>For the lulz mostly. These statistics should definitely not be taken as a serious attempt to show off or otherwise prove any sort of badassness. Comparing lines of code is like comparing something else equally as useless. We're just having some fun here</p>
  </md-content>
  <div class="md-actions" layout="horizontal" layout-align="end">
<!--     <md-button ng-click="cancel()" aria-label="cancel">
      Weak
    </md-button -->
    <md-button class="md-primary" ng-click="hide()" aria-label="hide">
      Cool
    </md-button>
  </div>
</md-dialog>