<h1 class="center">This week at <span class="blue">Hack Reactor</span></h1>
<div id="codeFrequency">
  <h3>So far <span style="color:rgb(61, 223, 61)">{{totalAdditions}}</span> lines have been added and <span style="color:red">{{totalDeletions}}</span> have been deleted for a net total of <span style="color:rgb(61, 223, 61)">{{totalAdditions-totalDeletions}}</span> of new lines written</h3>
  <code-frequency data="codeFrequency">
    <div id="additions"></div>
    <!-- <div id="deletions"></div> -->
  </code-frequency>
</div>
