<md-card>
  <div id="punchCard" layout="horizontal">
  <h2>Commits over time</h2>
    <div flex layout="vertical" layout-align="center center">
      <md-card ng-if="insight === 0"><span class="blue">{{leastProductiveDay.day}}</span> was the <i>least productive day</i> all week with a total of <span class=
        "red">{{leastProductiveDay.commits}}</span> commits made to <span class="blue">{{leastProductiveDay.repoCount}}</span> repos</md-card>

      <md-card ng-if="insight === 1"><span class="blue">{{leastProductiveDay.day}}</span> was the <i>least productive day</i> all week with a total of <span class=
        "red">{{leastProductiveDay.commits}}</span> commits made to <span class="blue">{{leastProductiveDay.repoCount}}</span> repos</md-card>

      <md-card ng-if="insight === 2"><span class="blue">{{mostProductiveDay.day}}</span> was the <i>most productive day</i> all week with a total of <span class=
        "green">{{mostProductiveDay.commits}}</span> commits made to <span class="blue">{{mostProductiveDay.repoCount}}</span> repos</md-card>

      <md-card ng-if="insight === 3"><span class="blue">{{numberToDay(leastProductiveHour.day)}}</span> at <span class="blue">{{numberToHour(leastProductiveHour.hour)}}</span> was the single <i>least productive hour</i> all week with a total of <span class=
        "red">{{leastProductiveHour.commits}}</span> commits made to <span class="blue">{{leastProductiveHour.repos.length}}</span> repos</md-card>

      <md-card ng-if="insight === 4"><span class="blue">{{numberToDay(mostProductiveHour.day)}}</span> at <span class="blue">{{numberToHour(mostProductiveHour.hour)}}</span> was the single <i>most productive hour</i> all week with a total of <span class=
        "green">{{mostProductiveHour.commits}}</span> commits made to <span class="blue">{{mostProductiveHour.repos.length}}</span> repos</md-card>
    </div>
  </div>
  <punch-card data="punchCard"></punch-card>
  <sup>*</sup>A commit includes any permanent change of to a codebase, whether it's adding lines, deleting lines, or otherwise
</md-card>


