<div layout="vertical" layout-align="center center" style="height:350px">
    <md-card layout="vertical" layout-align="center center" style="padding:20px 50px">
      <h2>WHY HELLO THERE</h2>
      <md-button ui-sref="loading" class="md-button md-raised md-primary" aria-label="Login" style="padding:0px 10px">
        <div layout="horizontal" layout-align="center center">
          <i class="fa fa-2x fa-github" style="margin-right:5px"></i>
          <span>Go!</span>
        </div>
      </md-button>
    </md-card>
</div>