<md-content layout="vertical" layout-align="center center">
  <md-card layout-align="center center">
    <h2>Log in with GitHub to see how much code has been written at Hack Reactor</h2>

    <md-button class="md-fab md-primary" aria-label="Profile">
      <md-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
    </md-button>
  </md-card>
</md-content>



<!-- 
  <img src="images/logo.png"></img>
  <h2>How much code actually gets written at <span class="blue">Hack Reactor</span>?</h2>
  <a class="button-github" href="/auth/github"><i class="fa fa-2x fa-github center-v" style="padding-right: 5px"></i> Login with GitHub</a> -->
